{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Contraseña Desbloqueada</h1>
    <p class="mb-4">Tu contraseña ha sido desbloqueada exitosamente.</p>
    {% if error_message %}
    <div class="alert alert-danger">
        {{ error_message }}
    </div>
    {% endif %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Website: {{ account.website }}</h5>
            <p class="card-text">Username: {{ account.username }}</p>
            <p class="card-text">Password: {{ account.decrypted_password }}</p>
            <a href="{% url 'accounts' %}" class="btn btn-primary">Volver a la lista de cuentas</a>
        </div>
    </div>
</div>
{% endblock %}
