{% extends "base.html" %} {% block title %}Sign Up{% endblock %} 
{% block content %}
<form method="POST">
  {% csrf_token %}
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
    {{ user_form.username.label_tag }}
    {{ user_form.username }}
  </div>
  <div class="form-group">
    {{ user_form.email.label_tag }}
    {{ user_form.email }}
  </div>
  <div class="form-group">
    {{ profile_form.firstName.label_tag }}
    {{ profile_form.firstName }}
  </div>
  <div class="form-group">
    {{ user_form.password1.label_tag }}
    {{ user_form.password1 }}
  </div>
  <div class="form-group">
    {{ user_form.password2.label_tag }}
    {{ user_form.password2 }}
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
